<div class="left-side">
  <img src="/corazon.svg" alt="logo corazon">
  <form>
    <div class="wrapper-field">
      <label for="email">Correo electrónico o Nombre de usuario</label>
      <input custon-input id="email" type="email">
    </div>

    <div class="wrapper-field">
      <label for="password">Contraseña</label>
      <input custon-input id="password" type="password">
    </div>

    <button>
      Sign in
    </button>

  </form>
</div>

<div class="right-side">
  <h1>Bienvenido a <em>Un Verano Sin Ti</em></h1>
  <a href="" link-button>Escucha ahora el álbum UVST 2022</a>

</div>
<router-outlet />
