:host {
  display: flex;
  height: 100vh;

  .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 71px;
    flex-direction: column;
    flex: 1;
    background-color: #DA5572;
    padding: 10px;

    img {
      max-width: 200px;
      height: 87.92px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 35px;
      width: 100%;
      max-width: 75%;

      input{
        &:focus {
          outline: none;
          border: 1px solid rgb(255, 247, 0);
        }

      }

      .wrapper-field {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          color: white;
          font-size: 13px;
        }

        .error-message-container{
          color: rgb(255, 247, 0);
          font-size: 12px;
        }
      }

      button {
        padding: 17px;
        background-color: #FF0040;
        border: none;
        color: white;
        border-radius: 2px;
        cursor: pointer;
      }
    }

  }

  .right-side {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 39px;
    background-image: url(../../public/UVST-Wallpaper.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  h1 {
    color: white;
    font-weight: 400;
    font-size: 2rem;
  }

  a {
    width: 420px;
  }
}


@media (max-width: 768px) {
  :host{
    display: flex;
    flex-direction: column;
    .left-side{
      padding: 30px;
    }

    .right-side{

      h1{
        font-size: 1.5rem;
      }

      a{
        font-size: 0.8rem;
        max-width: 300px;
        height: auto;
      }
    }
  }
}
