:host{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid white;
  padding: 16px;
  border-radius: 2px;
}
